@import "./varaible";

@mixin cardStyle {
    background-color:$cardBg;
    border-radius: 20px;
    padding: 1rem;
    transition: all .3s ease;
}

@mixin buttonStyle($bg) {
    background-color: $bg;
    padding: 8px 1.2rem;
    color: $secondayColor;
    border-radius: 20px;
    transition: background-color .3s ease;
    cursor: pointer;
    border: none;
}

@mixin mediaQuery($size) {
    @if($size=="Lg") {
        @media(max-width:1200px){
            @content;
        }
    }
    @else if($size=="Md") {
        @media(max-width:990px){
            @content;
        }
    }
    @else if($size=="Sm") {
        @media(max-width:768px) {
            @content;
        }
    }
}