@import "./varaible";
@import "./mixin";
@import "./homePage";
@import "./coinPage";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #191c1e;
}

a{
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container {
  @include mediaQuery("Lg") {
    width: 980px;
  }

  @include mediaQuery("Md") {
    width: auto;
    padding: 0 2rem;
  }

  @include mediaQuery("Sm") {
    padding: 0 1rem;
  }
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .logo {
    color: #fff;

    span {
      color: $primaryColor;
    }
  }

  .nav {
    list-style: none;
    display: flex;

    .nav-item {
      color: $textMuted;
      padding: 0 1rem;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: $secondayColor;
      }
    }

    .nav-item.active {
      color: $secondayColor;
    }
  }
}

.nav-link {
  display: flex;

  .login-btn {
    @include buttonStyle(#191c1e);
  }

  .signup-btn {
    @include buttonStyle($primaryColor);
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 1.2rem;
  right: 1rem;
}

// Resoponsive Navigation

.logo {
  @include mediaQuery("Md") {
    flex: 0 0 100%;
  }
}

@include mediaQuery("Md") {
  .nav-link {
    justify-content: space-between;
    margin-top: 1rem;
    flex: 0 0 100%;
  }

  .nav {
    padding-top: 3rem;
    position: fixed;
    z-index: 40;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 250px;
    background-color: $cardBg;
    flex-direction: column;
    align-items: center;
    transition: right 0.3s ease;

    .nav-item {
      padding: 2rem 0 !important;
    }

    .hamburger {
      align-self: flex-start;
    }
  }
  .hamburger {
    display: flex;
  }
}

.nav.nav-open {
  right: 0;
}
