@import "./varaible";
@import "./mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: $cardBg;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container {
    @include mediaQuery("Lg") {
        width: 990px;
        padding: 0 1rem;
    }

    @include mediaQuery("Md") {
        width: auto;
        padding: 2rem;
    }

    @include mediaQuery("Sm") {
        padding: 0 1rem;
    }
}
